.btn {
    background-color: var(--bg-primary-color);
    background-image: var(--bg-img-primary-color);
    margin-top: 40px;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn:hover {
    background-position: -20px -20px;
}

.btn--secondary {
    background-color: var(--bg-secondary-color);
    background-image: var(--bg-img-secondary-color);
}

.btn--success {
    background-color: var(--bg-success-color);
    background-image: var(--bg-img-success-color);
}

.btn--danger {
    background-color: var(--bg-danger-color);
    background-image: var(--bg-img-danger-color);
}
