:root {
    --bg-primary-color: #00bfff;
    --bg-img-primary-color: linear-gradient(to bottom, #00bfff, #007fff);

    --bg-secondary-color: #FFD700;
    --bg-img-secondary-color: linear-gradient(to bottom, #fff000, #ffcc00);

    --bg-success-color: #4CAF50;
    --bg-img-success-color: linear-gradient(to bottom, var(--bg-success-color), #fff);

    --bg-danger-color: #ff5722;
    --bg-img-danger-color: linear-gradient(to bottom, #ff5722, #fff);
}

.App {
    text-align: center;
}

button {
    min-width: 140px;
    align-items: center;
    appearance: none;
    background-size: calc(100% + 20px) calc(100% + 20px);
    background-color: var(--bg-primary-color);
    background-image: var(--bg-img-primary-color);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
